<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/admin/index.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">

</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">

        <!-- 顶部栏 -->
        <div th:replace="common/_header::header"></div>
        <!-- 主内容区 -->   
        <div th:replace="common/_body::body"></div>
        <!-- 底部栏 -->
        <div th:replace="common/_footer::footer"></div>
        <!-- 底部栏 -->
        <div th:replace="common/_sidebar::sidebar"></div>
    </div>
</div>

<script th:src="@{/layui/layui.js}"></script>

</body>
</html>