<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主界面</title>
    <link rel="stylesheet" th:href="@{/statics/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/statics/admin/styles/css/admin.css}" media="all">

    <link rel="stylesheet" th:href="@{/statics/layui/css/modules/layer/default/layer.css}" media="all">
</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">

        <!-- 头部栏-->
        <div th:replace="common/_header::header"></div>
        <!-- 菜单栏-->
        <div th:replace="common/_sidebar::sidebar"></div>
        <!-- 标签栏-->
        <div th:replace="common/_tabs::tabs"></div>
        <!-- frame栏-->
        <div th:replace="common/_body::body"></div>
        <!-- 遮罩栏-->
        <div th:replace="common/_shade::shade"></div>
        <!-- 尾部栏-->
        <div th:replace="common/_footer::footer"></div>

    </div>
</div>
<script th:src="@{/statics/layui/layui.js}"></script>
<script>
    layui.config({
        debug: true
        , base: '../statics/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index', function (obj) {
        var $ = layui.$, admin = layui.admin;
        $("#logout").on("click", function (res) {
            // console.log(res)
            admin.req({
                url: '../frame/user/logout' //实际使用请改成服务端真实接口
                , type: 'post'
                , done: function (res) {
                    console.log(res);
                    window.location.reload();
                }
            })
        })

    });
</script>
</body>
</html>