<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>学生list页面</title>
    <link rel="stylesheet" th:href="@{/statics/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/statics/layui/css/modules/layer/default/layer.css}" media="all">
    <link rel="stylesheet" th:href="@{/statics/admin/styles/css/admin.css}" media="all">
</head>

<body>
<div class="layui-fluid">
    <!-- 搜索区域-->
    <div class="layui-card">

        <!--
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="table-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        -->

        <div class="layui-card-body">
            <!-- 按钮区域-->
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>

                <button type="button" class="layui-btn" id="uploadBtn">
                    <i class="layui-icon">&#xe67c;</i>导入Excel
                </button>
                <span style="float: right;"><a th:href="@{/files/student-demo.xlsx}">下载模板文件</a></span>
            </div>
            <!--表格数据区-->
            <table id="table-box" lay-filter="table-box" lay-data="{id: 'table-box'}"></table>
        </div>

    </div>
</div>

</body>
<script type="text/html" id="table-toolbar">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
            class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon layui-icon-delete"></i>删除</a>
</script>


<script th:src="@{/statics/layui/layui.js}"></script>
<script th:inline="none">
    layui.config({
        base: '../../statics/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'util', 'upload'], function () {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form
            , table = layui.table
            , upload = layui.upload
            , util = layui.util;

        //执行实例
        var uploadInst = upload.render({
            elem: '#uploadBtn' //绑定元素
            , data: {
                clientinfo: 'student-excel',
                clienttag: 'student'
            }
            , accept: 'file'
            , exts: 'xls|xlsx'
            , url: '../../frame/attach/upload' //上传接口
            , before: function(obj){
                layer.load();
            }
            , done: function (res) {
                //上传完毕回调
                if (res.code) {
                    layer.msg(res.msg);
                    return false;
                }
                uploadExcel(res.data.id)
            }
            , error: function () {
                //请求异常回调
                layer.closeAll('loading');
            }
        });


        var renderCreateDate = function (d) {
            if (d.createTime) {
                return util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss")
            }
            return ''
        };

        var renderStatus = function (d) {
            switch (d.status) {
                case 1:
                    return "<font color='green'>启用</font>";
                    break;
                case 0:
                    return "<font color='red'>禁用</font>";
                    break;
            }
        };

        //第一个实例
        table.render({
            id: 'table-box'
            , elem: '#table-box'
            , height: 600
            , url: '../student/table' //数据接口
            , method: 'post'
            , contentType: 'application/json;charset=utf-8'
            , page: true //开启分页
            , limit: 20
            , cols: [[ //表头
                {checkbox: true}
                , {field: 'name', title: '学生名'}
                , {field: 'year', title: '年级'}
                , {field: 'major', title: '专业'}
                , {field: 'classname', title: '班级'}
                , {field: 'number', title: '学号'}
                , {field: 'idcard', title: '身份证'}
                , {field: 'status', width: 80, title: '状态', templet: renderStatus}
                , {field: 'createTime', title: '创建时间', sort: true, templet: renderCreateDate}
                , {width: 178, align: 'center', title: '操作', fixed: 'right', toolbar: '#table-toolbar'}
            ]]
        });

        //监听工具条
        table.on('tool(table-box)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    layer.close(index);
                    del(data.id)
                });
            } else if (obj.event === 'edit') {
                edit(data.id);
            }
        });

        //监听搜索
        form.on('submit(table-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('table-box', {
                where: field
            });
        });


        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('table-box')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                var ids = [];
                for (var i = 0; i < checkData.length; i++) {
                    ids.push(checkData[i].id)
                }
                var idsString = ids.join(';');
                console.log(idsString);
                layer.confirm('确定删除吗？', function () {
                    del(idsString)
                });

            }
            , add: function () {
                add()
            }

        };

        var uploadExcel = function (attachguid) {
            admin.req({
                url: '../student/addFromExcel?attachguid=' + attachguid
                , type: 'post'
                , contentType: 'application/json;charset=utf-8'
                , done: function (res) {
                    if (res.code == 1) {
                        layer.msg(res.msg);
                        return false;
                    }
                    layer.closeAll('loading');
                    table.reload('table-box');
                    layer.msg(res.msg);
                }
            });

            return false;
        }

        var del = function (id) {
            admin.req({
                url: '../student/delete?id=' + id
                , type: 'post'
                , contentType: 'application/json;charset=utf-8'
                , done: function (res) {
                    if (res.code == 1) {
                        layer.msg(res.msg);
                        return false;
                    }
                    table.reload('table-box');
                    layer.msg(res.msg);
                }
            });
            return false;
        };

        var add = function () {
            layer.open({
                type: 2
                , title: '添加学生'
                , content: '../student/add'
                , maxmin: true
                , area: ['765px', '400px']
                , end: function () {
                    table.reload('table-box'); //数据刷新
                }
            })
        };

        var edit = function (id) {
            layer.open({
                type: 2
                , title: '编辑用户'
                , content: '../student/edit?id=' + id
                , maxmin: true
                , area: ['1200px', '800px']
                , end: function () {
                    table.reload('table-box'); //数据刷新
                }
            });
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</html>