<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程添加页面</title>
    <link rel="stylesheet" th:href="@{/statics/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/statics/layui/css/modules/layer/default/layer.css}" media="all">
    <link rel="stylesheet" th:href="@{/statics/admin/styles/css/admin.css}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-card-header">课程信息</div>

        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="form-body">

                <div class="layui-form-item">
                    <label class="layui-form-label">课程名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required|name" autocomplete="off"
                               placeholder="请输入课程名称"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">课程学分</label>
                    <div class="layui-input-block">
                        <input type="text" name="weight" lay-verify="required|weight" autocomplete="off"
                               placeholder="请输入课程学分"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">考试成绩</label>
                    <div class="layui-input-block">
                        <input type="text" name="score" lay-verify="required|score" autocomplete="off"
                               placeholder="课程考试成绩"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="commit-form">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<script th:src="@{/statics/layui/layui.js}"></script>
<script th:inline="none">
    layui.config({
        base: '../../statics/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
        ,svenutil:'svenutil'
    }).use(['index', 'form', 'laydate','svenutil'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            ,svenutil = layui.svenutil
            , form = layui.form;

        form.render(null, 'form-body');

        /* 监听提交 */
        form.on('submit(commit-form)', function (data) {
            data.field['exam_info_id'] = svenutil.getUrlParam("exam_info_id");
            admin.req({
                url: '../examcourse/doadd'
                , type: 'post'
                , contentType: 'application/json;charset=utf-8'
                , data: JSON.stringify(data.field)
                , done: function (res) {
                    if (res.code == 1) {
                        parent.layer.msg(res.msg);
                        return false;
                    }
                    parent.layer.alert(res.msg);
                    form.render(null, 'form-body');
                }
            });
            return false;
        });
    });
</script>

</body>
</html>