<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程编辑页面</title>
    <link rel="stylesheet" th:href="@{/statics/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/statics/layui/css/modules/layer/default/layer.css}" media="all">
    <link rel="stylesheet" th:href="@{/statics/admin/styles/css/admin.css}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-card-header">课程信息</div>

        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="form-body">

                <input name="id" th:value="${course.id}" class="layui-hide"/>

                <div class="layui-form-item">
                    <label class="layui-form-label">课程名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required|name" autocomplete="off"
                               placeholder="请输入课程名称"
                               class="layui-input" th:value="${course.name}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">课程学分</label>
                    <div class="layui-input-block">
                        <input type="text" name="weight" lay-verify="required|weight" autocomplete="off"
                               placeholder="请输入课程学分"
                               class="layui-input" th:value="${course.weight}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">考试成绩</label>
                    <div class="layui-input-block">
                        <input type="text" name="score" lay-verify="required|score" autocomplete="off"
                               placeholder="课程考试成绩"
                               class="layui-input" th:value="${course.score}">
                    </div>
                </div>

                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit lay-filter="commit-form">提交修改</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<script th:src="@{/statics/layui/layui.js}"></script>
<script th:inline="none">
    layui.config({
        base: '../../statics/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form;

        form.render(null, 'form-body');

        /* 自定义验证规则 */
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        /* 监听提交 */
        form.on('submit(commit-form)', function (data) {
            admin.req({
                url: '../examcourse/doedit'
                , type: 'post'
                , contentType: 'application/json;charset=utf-8'
                , data: JSON.stringify(data.field)
                , success: function (res) {
                    // console.log("#######success######");

                    if (res.code == 1) {
                        parent.layer.msg(msg);
                        return false;
                    }


                    //当你在iframe页面关闭自身时
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                    parent.layer.msg(res.msg);

                }
                , fail: function (res) {
                    // console.log("#######fail######")
                    console.log(res)
                }
            });
            return false;
        });
    });
</script>

</body>
</html>