<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>课程list页面</title>
    <link rel="stylesheet" th:href="@{/statics/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/statics/layui/css/modules/layer/default/layer.css}" media="all">
    <link rel="stylesheet" th:href="@{/statics/admin/styles/css/admin.css}" media="all">
</head>

<body>
<div class="layui-fluid">
    <!-- 搜索区域-->
    <div class="layui-card">

        <div class="layui-card-body">
            <!-- 按钮区域-->
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
            </div>
            <!--表格数据区-->
            <table id="table-box" lay-filter="table-box" lay-data="{id: 'table-box'}"></table>
        </div>

    </div>
</div>

</body>
<script type="text/html" id="table-toolbar">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
            class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon layui-icon-delete"></i>删除</a>
</script>


<script th:src="@{/statics/layui/layui.js}"></script>
<script th:inline="none">
    layui.config({
        base: '../../statics/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
        ,svenutil:'svenutil'
    }).use(['index', 'table', 'util','svenutil'], function () {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form
            , table = layui.table
            ,sveutil = layui.svenutil
            , util = layui.util;


        var renderCreateDate = function (d) {
            if (d.createTime) {
                return util.toDateString(d.createTime, "yyyy-MM-dd")
            }
            return ''
        };

        var renderUpdateDate = function (d) {
            if (d.updateTime) {
                return util.toDateString(d.updateTime, "yyyy-MM-dd HH:mm:ss")
            }
            return ''
        };

        //第一个实例
        table.render({
            id: 'table-box'
            , elem: '#table-box'
            , height: 450
            , url: '../examcourse/table' //数据接口
            , method: 'post'
            , contentType: 'application/json;charset=utf-8'
            , page: true //开启分页
            , limit: 20
            , cols: [[ //表头
                {checkbox: true}
                , {field: 'id', title: 'ID', width: 60, sort: true}
                , {field: 'name', title: '课程名称'}
                , {field: 'weight', title: '课程学分', width: 90}
                , {field: 'score', title: '课程得分', width: 90}
                , {field: 'updateTime', title: '更新时间', sort: true, templet: renderUpdateDate}
                , {field: 'createTime',width: 110, title: '创建时间', sort: true, templet: renderCreateDate}
                , {width: 148, title: '操作', align: 'center', fixed: 'right', toolbar: '#table-toolbar'}
            ]]
        });

        //监听工具条
        table.on('tool(table-box)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    layer.close(index);
                    del(data.id)
                });
            } else if (obj.event === 'edit') {
                edit(data.id);
            }
        });

        //监听搜索
        form.on('submit(table-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('table-box', {
                where: field
            });
        });


        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('table-box')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                var ids = [];
                for (var i = 0; i < checkData.length; i++) {
                    ids.push(checkData[i].id)
                }
                var idsString = ids.join(';');
                console.log(idsString);
                layer.confirm('确定删除吗？', function () {
                    del(idsString)
                });

            }
            , add: function () {
                add()
            }

        };

        var del = function (id) {
            admin.req({
                url: '../examcourse/delete?id=' + id
                , type: 'post'
                , contentType: 'application/json;charset=utf-8'
                , done: function (res) {
                    if (res.code == 1) {
                        layer.msg(res.msg);
                        return false;
                    }
                    table.reload('table-box');
                    layer.msg(res.msg);
                }
            });
            return false;
        };

        var add = function () {
            var exam_info_id = sveutil.getUrlParam("exam_info_id");
            layer.open({
                type: 2
                , title: '添加课程'
                , content: '../examcourse/add?exam_info_id='+exam_info_id
                , maxmin: true
                , area: ['800px', '500px']
                , end: function () {
                    table.reload('table-box'); //数据刷新
                }
            })
        };

        var edit = function (id) {
            layer.open({
                type: 2
                , title: '编辑课程'
                , content: '../examcourse/edit?id=' + id
                , maxmin: true
                , area: ['800px', '500px']
                , end: function () {
                    table.reload('table-box'); //数据刷新
                }
            });
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</html>