<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deepblue777.frame.mapper.FrameUserMapper">

    <resultMap id="frameUserMap" type="com.deepblue777.frame.domain.FrameUser">
        <id property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="loginid" column="loginid"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteTime" column="delete_time"/>
        <collection property="roles" ofType="com.deepblue777.frame.domain.FrameRole">
            <id property="rid" column="rid"/>
            <result property="roleName" column="role_name"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
            <result property="deleteTime" column="delete_time"/>
            <collection property="permissions" ofType="com.deepblue777.frame.domain.FramePermission">
                <id property="pid" column="pid"/>
                <result property="permissionName" column="permission_name"/>
                <result property="url" column="url"/>
                <result property="createTime" column="create_time"/>
                <result property="updateTime" column="update_time"/>
                <result property="deleteTime" column="delete_time"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findByLoginid" parameterType="string" resultMap="frameUserMap">
        select *
        from frame_user u
                 inner join frame_user_role ur on u.uid = ur.uid
                 inner join frame_role r on ur.rid = r.rid
                 inner join frame_permission_role pr on r.rid = pr.rid
                 inner join frame_permission p on pr.rid = p.pid
        where u.loginid = #{loginid}
    </select>

</mapper>